In [26]:
import pandas as pd
import numpy as np

#Loading the tequila data from the Excel file into the Jupyter Notebook
tequila_df = pd.read_excel('Tequila_Data_2021_2022_2023_RAW.xlsx')

#### Step 1 - Get the overall lay of the land of the dataset. Finding its shape to know how many rows and columns there are.

In [27]:
#Finding the shape of the dataframe
shape_tequila_df = tequila_df.shape
print(shape_tequila_df)
#tequila_df has 10152 rows, 22 columns

(10152, 22)

In [ ]:
#A version of the tequila_df to keep up as a reference
tequila_df.head(25)

In [67]:
# Checking out the Data Type of all the columns
tequila_df.dtypes
#I'm not sure we need the columns for Year, Month, and Date

SKU                                          object
Country                                      object
State/Province/Market                        object
Year                                          int64
Month                                        object
Date                                 datetime64[ns]
Market Manager                               object
Cost of Goods Sold                          float64
Sell Price                                    int64
Profit                                      float64
Profit Margin                               float64
Sales (4.5 L Cases)                         float64
Revenue                                     float64
Profit of Sales                             float64
Accounts Sold                               float64
Monthly Rate of Sales per Account           float64
Tequila Tastings                              int64
Distributor Size                             object
Market Type                                  object
Brand Ambassador Hired                       object
Number of Brand Ambassadors                   int64
Top 10 Tequila Market                        object
dtype: object

#### Step 2 - Finding Missing Data

In [ ]:
#Finding the number of missing values in each column and the percentage of missing values they contribute to

#Making a table to show which columns may need to be dropped and which columns may need filling out
#Finding missing values
total_missing_values = tequila_df.isnull().sum().sort_values(ascending=False)
#Finding the percent of missing values in each column
percent_missing_values = 100*((tequila_df.isnull().sum())/(tequila_df.isnull().count())).round(2).sort_values(ascending=False)
#Making a table of all the two for readability
missing_data = pd.concat([total_missing_values, percent_missing_values], axis=1, keys=['Total Missing', 'Percent Missing'])
missing_data

#Consider dropping Monthly Rate of Sales per Account and Accounts Sold columns since both are 84% NaN

In [211]:
def percentage_missing(df, column_name):
    """
    Calculates the percentage of missing values in a specific column of a DataFrame.
    
    Parameters:
    - df: Pandas DataFrame.
    - column_name: The name of the column to check for missing values.
    
    Returns:
    The percentage of missing values in the column.
    """
    total_rows = len(df)
    missing_count = df[column_name].isna().sum()
    missing_percentage = (missing_count / total_rows) * 100
    return missing_percentage.round(2)

#### Step 3 - Finding Duplicates

In [60]:
duplicates_tequila_df = tequila_df.duplicated().value_counts()
duplicates_tequila_df
# No identical duplicates were found in the dataframe

False    10152
Name: count, dtype: int64

In [65]:
other_duplicates_tequila_df = tequila_df.duplicated(subset=['SKU', 'Country', 'State/Province/Market', 
                                                    'Year', 'Month', 'Date', 'Market Manager'],
                                                    keep=False)
other_duplicates_tequila_df.value_counts()
#Confirms there are no duplicates in the important labelled columns in the dataframe

False    10152
Name: count, dtype: int64

### Step 4 - Dealing with Missing Data discovered in Step 2

##### Step 4A - Market Manager Column

In [31]:
#Getting some details about the column
tequila_df['Market Manager'].describe()

count      8856
unique        4
top       Tammy
freq       3456
Name: Market Manager, dtype: object

In [48]:
#Explore the dataframe where 'Market Managers' is null
market_manager_null = tequila_df[tequila_df['Market Manager'].isna()]
market_manager_null.shape #1296 rows where the manager is NaN

(1296, 22)

In [70]:
country_count = market_manager_null['Country'].value_counts()
print(country_count)
market_details = market_manager_null['State/Province/Market'].value_counts()
print(market_details)

Country
Australia    216
Carribean    216
India        216
Indonesia    216
Ireland      216
Thailand     216
Name: count, dtype: int64
State/Province/Market
Australia             216
Carribean Airlines    216
India                 216
Indonesia             216
Ireland               216
Thailand              216
Name: count, dtype: int64

In [74]:
clean_tequila_df = tequila_df.copy()

#Filling the NaNs in the Market Manager column with 'No Manager'
clean_tequila_df['Market Manager'].fillna(value='No Manager', axis=0, inplace=True)

In [ ]:
#Sanity check to make sure they changed
clean_tequila_df.isnull().sum().sort_values(ascending=False)

##### Step 4B - Market Type Column

In [125]:
tequila_df['Market Type'].describe()
tequila_df['Market Type'].value_counts() # Free Market = 4536, Controlled Market = 4320

#Filling the NaNs of Market Type with 'Unknown'
clean_tequila_df['Market Type'].fillna(value='Unknown', axis=0, inplace=True)
#Keeping it unknown because it appears to be the same chunck of data that deals with the markets outside of North America. 
# I think its better to keep it in the data than remove it for the moment.

In [ ]:
#Sanity check to make sure they changed
clean_tequila_df.isnull().sum().sort_values(ascending=False)

##### Step 4C - Distributor Size

In [139]:
# Filling the NaNs in the Distributor Size with Unknown
clean_tequila_df['Distributor Size'].fillna(value='Unknown', axis=0, inplace=True)

##### Step 4D - Accounts Sold and Monthly Rate of Sales

After a team discussion, we have decided to keep Nulls in the entries as we do not want to throw off any of the numbers that we do have

##### Step 4E - Dropping Unncessary Columns

In [145]:
#We have a Year, Month, and Date column, We'll keep just the date column
clean_tequila_df.drop(columns=['Year', 'Month'], inplace = True)

##### Step 4F - Changing Column Names or Data Types if Necessary

In [ ]:
#Conveting the Date column from datetime to date datatype
clean_tequila_df['Date'] = clean_tequila_df['Date'].dt.date

In [219]:
clean_tequila_df.rename(columns={'Monthly Rate of Sales per Account': 'Monthly Rate of Sales'}, inplace=True)

In [182]:
clean_tequila_df

,Unnamed: 0,SKU,Country,State/Province/Market,Date,Market Manager,Cost of Goods Sold,Sell Price,Profit,Profit Margin,...,Revenue,Profit of Sales,Accounts Sold,Monthly Rate of Sales per Account,Tequila Tastings,Distributor Size,Market Type,Brand Ambassador Hired,Number of Brand Ambassadors,Top 10 Tequila Market
0,0,Tequila Plata,United States,Alabama,2021-01-01,Tammy,62.24,110,47.76,0.565818,...,0.0,0.0,NaN,NaN,0,Large,Controlled Market,No,0,No
1,1,Tequila Plata,United States,Alabama,2021-02-01,Tammy,62.24,110,47.76,0.565818,...,0.0,0.0,NaN,NaN,0,Large,Controlled Market,No,0,No
2,2,Tequila Plata,United States,Alabama,2021-03-01,Tammy,62.24,110,47.76,0.565818,...,0.0,0.0,NaN,NaN,0,Large,Controlled Market,No,0,No
3,3,Tequila Plata,United States,Alabama,2021-04-01,Tammy,62.24,110,47.76,0.565818,...,0.0,0.0,NaN,NaN,0,Large,Controlled Market,No,0,No
4,4,Tequila Plata,United States,Alabama,2021-05-01,Tammy,62.24,110,47.76,0.565818,...,0.0,0.0,NaN,NaN,0,Large,Controlled Market,No,0,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10147,10147,Tequila Vivo,Thailand,Thailand,2023-08-01,No Manager,110.32,419,308.68,0.263294,...,0.0,0.0,NaN,NaN,0,Unknown,Unknown,No,0,No
10148,10148,Tequila Vivo,Thailand,Thailand,2023-09-01,No Manager,110.32,419,308.68,0.263294,...,0.0,0.0,NaN,NaN,0,Unknown,Unknown,No,0,No
10149,10149,Tequila Vivo,Thailand,Thailand,2023-10-01,No Manager,110.32,419,308.68,0.263294,...,0.0,0.0,NaN,NaN,0,Unknown,Unknown,No,0,No
10150,10150,Tequila Vivo,Thailand,Thailand,2023-11-01,No Manager,110.32,419,308.68,0.263294,...,0.0,0.0,NaN,NaN,0,Unknown,Unknown,No,0,No
10151,10151,Tequila Vivo,Thailand,Thailand,2023-12-01,No Manager,110.32,419,308.68,0.263294,...,0.0,0.0,NaN,NaN,0,Unknown,Unknown,No,0,No

##### Step 4G - Making Sure there are no logical inconsistencies

##### Step 5 - Saving clean_tequila_df as a CSV

In [186]:
clean_tequila_df.to_csv('clean_tequila_data.csv', index=False)

##### Some more Exploration:

In [196]:
clean_tequila_df

def split_dataframe_by_column(df, column_name):
    """
    Splits a DataFrame into multiple DataFrames based on the unique values of the specified column.
    
    Parameters:
    - df: the DataFrame to split.
    - column_name: the name of the column to split by.
    
    Returns:
    A dictionary with keys as unique values of the column and values as DataFrames.
    """
    unique_values = df[column_name].unique()
    return {value: df[df[column_name] == value] for value in unique_values}

In [220]:
split_dfs = split_dataframe_by_column(clean_tequila_df, 'Market Type')

# Access the resulting DataFrames
free_market_df = split_dfs['Free Market']
controlled_market_df = split_dfs['Controlled Market']
unknown_market_df = split_dfs.get('Unknown')  # Use .get() to avoid KeyError if 'Unknown' does not exist

In [225]:
#FREE MARKET
free_market_df.isnull().sum()
accounts_sold_missing_percentage = percentage_missing(free_market_df, 'Accounts Sold')
print('Free Market Accounts Sold missing percentage is', accounts_sold_missing_percentage)

rate_of_sales_missing_pecentage = percentage_missing(free_market_df,'Monthly Rate of Sales')
print('Free Market Rate of Sale missing percentage is', rate_of_sales_missing_pecentage)

Free Market Accounts Sold missing percentage is 66.27
Free Market Rate of Sale missing percentage is 66.27

In [227]:
#CONTROLLED MARKET
controlled_market_df
accounts_sold_missing_percentage = percentage_missing(controlled_market_df, 'Accounts Sold')
print('Controlled Market Accounts Sold missing percentage is', accounts_sold_missing_percentage)

rate_of_sales_missing_pecentage = percentage_missing(controlled_market_df,'Monthly Rate of Sales')
print('Controlled Market Rate of Sale missing percentage is', rate_of_sales_missing_pecentage)

Controlled Market Accounts Sold missing percentage is 97.99
Controlled Market Rate of Sale missing percentage is 97.99

In [229]:
# UNKNOWN MARKET TYPE
accounts_sold_missing_percentage = percentage_missing(unknown_market_df, 'Accounts Sold')
print('Unknown Market Accounts Sold missing percentage is', accounts_sold_missing_percentage)

rate_of_sales_missing_pecentage = percentage_missing(unknown_market_df,'Monthly Rate of Sales')
print('Unknown Market Rate of Sale missing percentage is', rate_of_sales_missing_pecentage)

Unknown Market Accounts Sold missing percentage is 100.0
Unknown Market Rate of Sale missing percentage is 100.0